---
http_interactions:
- request:
    method: post
    uri: http://echo.httpkit.com/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Yan:
      - isawesome
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "method": "POST",
          "uri": "/",
          "path": {
            "name": "/",
            "query": "",
            "params": {}
          },
          "headers": {
            "yan": "isawesome",
            "content-type": "application/x-www-form-urlencoded"
          },
          "body": null,
          "ip": "127.0.0.1",
          "powered-by": "http://httpkit.com",
          "docs": "http://httpkit.com/echo"
        }
  recorded_at: Mon, 03 Nov 2014 22:50:08 GMT
recorded_with: VCR 2.9.3
